@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models

@inject SignInManager<ApplicationUser> SignInManager

@{
    var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Name")?.Value;
}

@if (SignInManager.IsSignedIn(User))
{
<<<<<<< HEAD
    <from asp-action="Logout" asp-controller="User" method="POST">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button class="btn btn-link navbar-btn navbar-link">@claim</button>
            </li>
            <li>
                <button class="btn btn-link navbar-btn navbar-link" type="submit">Log out</button>
            </li>
        </ul>
    </from>
=======
    
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-controller="User" asp-action="Index">@claim</a>
        </li>
        <li>
            <form asp-action="Logout" asp-controller="User" method="post">
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </form>
        </li>
    </ul>
>>>>>>> 482c1974de8a54d8026c2420574b83e9484e1600
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-area="" asp-controller="User" asp-action="Register">Register</a>
        </li>
        <li>
            <a asp-area="" asp-controller="User" asp-action="Login">Login</a>
        </li>
    </ul>
}
