@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Menntavegur 1<br />
    Reykjavík, 101<br />
    <abbr title="Phone">P:</abbr>
    354.555.0005
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@bookcave.com">Support@example.com</a><br />
</address>
