@model BookCave.Models.ViewModels.ShoppingCartViewModel
@{
    ViewData["Title"] = "Checkout";
}
<div class='container'>
    <div class='row' style='padding-top:25px; padding-bottom:25px;'>
        <div class='col-md-12'>
            <div id='mainContentWrapper'>
                <div class="col-md-8 col-md-offset-2">
                    <h2 style="text-align: center;">
                        Review Your Order & Complete Checkout
                    </h2>
                    <hr/>
                    <a asp-action="Index" asp-controller="Home" class="btn btn-info" style="width: 100%;">Add More Books</a>
                    <hr/>
                    <div class="shopping_cart">
                        <form class="form-horizontal" role="form" action="" method="post" id="payment-form">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <h4 data-parent="#accordion">Review
                                                Your Order</h4>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="items">
                                                <div class="col-md-9">
                                                    <table class="table table-striped">
                                                        <tr>
                                                            <td colspan="2">
                                                                <b>
                                                                    Books in cart:</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <ul>
                                                                    @foreach (var item in Model.CartItems)
                                                                    {
                                                                        <li><h4>@item.Count x - @item.Book.Title</h4></li>
                                                                    }
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="col-md-3">
                                                    <div style="text-align: center;">
                                                        <h3>Order Total</h3>
                                                        @if(Model.CartTotal >= 50)
                                                        {
                                                            <h3><span style="color:green;">$@Model.CartTotal</span></h3>
                                                        }
                                                        else
                                                        {
                                                            var total = (@Model.CartTotal + 5);
                                                            <h3><span style="color:green;">$@total</span></h3>
                                                        }
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        <a asp-action="Billing" asp-controller="Checkout" class="btn btn-info" style="width: 100%;">Billing and shipping</a>                            
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>


