@model int
@{
    ViewData["Title"] = "Checkout Complete";
}

<h2>Checkout Complete!</h2>
<p>Thank you for your order, your order number is: @Model</p>
<a asp-action="index" asp-controller="Home">
    <button type="submit" class="btn btn-info btn-sm" style="width:100%;">Take me back to the front page.</button>
</a>